



<section>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><h2>Factory <span style="color:yellow;">Fabric</span></h2></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="fa fa-bell fa-2x"><span class="badge">4</span></span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="https://avatars1.githubusercontent.com/u/16058039?s=40&v=4" alt="" class="img-circle"> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</section>

<section>
<div class="jumbotron">
    <div class="container">
      <h1 class="text-center">Welcome , <span>John</span></h1>
      <p class="text-center">Please Select the application transformation factory you want to view</p>
      <div class="form-group">
        <div class="loginRow"><input type="search" #username name="search" class="form-control" placeholder="Search" /></div>
      </div>
    </div>
</div>
</section>


<section>
  <!-- <ul>
    <li *ngFor='let factory of allFactories'>
      <a routerLink="/factoryLanding/{{factory?.factoryId}}">{{factory?.name}}</a>
    </li>
  </ul> -->
  <div class="container">
    <div class="row">
      <div class="allFactoriesContainer">
        <div class="filter">
          <div class="pull-left"><h3>{{allFactories?.length}} Factories</h3></div>
          <div class="pull-right">
            <h4>Sort By</h4>
            <select  name="sort" (change)="sort($event.target.value)">
                                            <option value="">Recent Updates</option>
                                            <option value="asc"># of projects less to more</option>
                                            <option value="desc"># of projects more to less</option>
                                            <option value="sortA">Alphabetical A to Z</option>
                                            <option value="sortZ">Alphabetical A to A</option>

              </select>
          </div>
          <div style="clear:both"></div>
        </div><!--filter -->
        <div class="allFactories">
           <a class="factoryContainer" routerLink="/factoryLanding/{{factory?.factoryId}}" *ngFor='let factory of allFactories'>
             <div class="text-center"><img src="https://avatars1.githubusercontent.com/u/16058039?s=40&v=4" alt=""></div>
             <h4 class="text-center"><strong>{{factory?.name}}</strong></h4>
             <p class="text-center">{{factory?.noOfProjects}} Projects</p>
           </a>
        </div><!--allFactories-->
        <div style="clear:both"></div>

      </div><!--allFactoriesContainer-->
    </div><!--row-->
  </div>
</section>
